{"openapi":"3.1.0","info":{"title":"DocTranslate API (Agent Actions)","version":"4.0.0","description":"Translate text, documents, images, audio and video; run PDF tools; extract/fill forms (data_entry). Async tools return a task_id — poll get_result until status is done, then read the text or download url_download. Auth: header X-API-Key with the user's DocTranslate key.","contact":{"name":"DocTranslate","url":"https://doctranslate.io"},"license":{"name":"Proprietary — for authenticated API-key holders only","url":"https://doctranslate.io/terms-of-use"}},"servers":[{"url":"https://doctranslate-api.doctranslate.io"}],"tags":[{"name":"Translate","description":"Text, document, image, audio/video, and XML/HTML translation."},{"name":"Process","description":"Multi-file / by-reference dispatch (POST /process) and Presentation Maker."},{"name":"Price check","description":"Estimate cost before dispatching."},{"name":"Presentation Video","description":"Narrated video generated from a document/slide deck."},{"name":"Video (v4)","description":"Direct-to-storage video upload + translation, with optional dubbing."},{"name":"Data Entry (new)","description":"Auto-fill a template document. v3-only, added in this build."},{"name":"PDF Tools (new)","description":"The PDF Formatter suite. v3-only, added in this build."},{"name":"Result","description":"Poll any task_id for status/result."}],"paths":{"/v3/create/transcripts":{"post":{"summary":"Create transcripts (Presentation Video, step 1/2)","description":"Generate the narration transcripts for a Presentation Video from files already priced via POST /upload. Only meta_files[0] is used. PAID. v3 (current, richest enum tables). Follow with PATCH-equivalent /update/transcripts (optional) then POST /create/video.","tags":["Presentation Video"],"operationId":"createTranscriptsV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"task_type":{"$ref":"#/components/schemas/TaskType"},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"tone":{"$ref":"#/components/schemas/ToneV2V3"},"domain":{"$ref":"#/components/schemas/Pptx2VideoDomainV2V3"},"voice":{"$ref":"#/components/schemas/HumanVoice"},"meta_files":{"type":"array","items":{"$ref":"#/components/schemas/MetaFile"}},"custom_prompt":{"type":"string"},"duration":{"description":"Accepted, no dispatch correlate today."},"access_domain":{"description":"Accepted, no dispatch correlate today."}},"required":["task_type","dest_lang","meta_files"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/create/video":{"post":{"summary":"Render the Presentation Video (step 2/2)","description":"Render the final video for one or more transcript task_ids created via /create/transcripts. v3 (current, richest enum tables). A bogus/unowned task_id is silently skipped (still 200), matching upstream — no per-id error is ever surfaced.","tags":["Presentation Video"],"operationId":"createVideoV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreateVideoResult"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"task_ids":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"A single task_id, or an array of them (a single {task_id} object is also accepted)."}},"required":["task_ids"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/data-entry":{"post":{"summary":"Auto-fill a template (Data Entry)","description":"Fill a template document (DOCX/XLSX/fillable PDF) with data extracted from one or more source files. New in this build — v3-only, not part of the doctranslate legacy contract. PAID.","tags":["Data Entry (new)"],"operationId":"dataEntryV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"404":{"description":"template_id does not resolve to a template you can use.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"},"description":"Source file(s) to extract data from."},"template":{"type":"string","format":"binary","description":"The form/template to fill. Required unless template_id is given."},"template_id":{"type":"integer","description":"A template already saved on this account, as an alternative to uploading `template`."},"target_lang":{"type":"string"},"domain":{"type":"string"},"custom_prompt":{"type":"string"},"dictionary":{"type":"string","description":"JSON-encoded Dictionary array."}},"required":["files"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/pdf-tools/{tool}":{"post":{"summary":"PDF Tools","description":"Run one tool from the PDF Tools / PDF Formatter suite (format conversion + utilities) — merge, split, remove/extract pages, rotate, page numbers, watermark, crop, organize, redact, sign, compare, jpg_to_pdf, scan_to_pdf, pdf_to_jpg, word/ppt/excel_to_pdf, pdf_to_markdown, ai_summarizer, protect, unlock, repair, and 6 image tools. Most are FREE; word_to_pdf/powerpoint_to_pdf/excel_to_pdf/pdf_to_markdown/ai_summarizer/repair are PAID. A few tools need specific `options` fields: protect/unlock -> {password}, redact -> {terms}, sign -> {signature_text}, organize -> {order}, watermark_image -> {text}. merge needs 2+ files; most others take exactly 1 (extras are silently dropped). New in this build — v3-only.","tags":["PDF Tools (new)"],"operationId":"pdfToolV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"}},"file_name":{"type":"string"},"options":{"type":"string","description":"JSON-encoded object of tool-specific fields — see the operation description."},"estimated_credits":{"type":"number"}},"required":["files"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}},{"name":"tool","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PdfToolId"}}]}},"/v3/process":{"post":{"summary":"Process (multi-file, by reference)","description":"Dispatch one of task_type's families (document/audio/video/images/summarization) against files already priced via POST /upload — referenced by meta_files, not re-uploaded. v3 (current, richest enum tables). task_type \"create_video\" is explicitly rejected (400) — use /create/transcripts then /create/video instead. summarization accepts exactly 1 meta_files entry.","tags":["Process"],"operationId":"processV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdMessage"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"task_type":{"$ref":"#/components/schemas/TaskType"},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"original_lang":{"$ref":"#/components/schemas/OptionalLangV3"},"process_mode":{"$ref":"#/components/schemas/ProcessMode"},"translate_type":{"$ref":"#/components/schemas/TranslateTypeDocument"},"tone":{"$ref":"#/components/schemas/ToneV2V3"},"meta_files":{"type":"array","items":{"$ref":"#/components/schemas/MetaFile"},"description":"Files priced via POST /upload — required and validated LAST (after every domain_*/orientation field), matching the real API's error-collection order."},"dictionary":{"type":"string","description":"JSON-encoded Dictionary array."},"custom_prompt":{"type":"string"},"slides_number":{"$ref":"#/components/schemas/SlidesNumber"},"template_path":{"$ref":"#/components/schemas/TemplatePathV3","description":"Validated but never actually forwarded to the slides worker today (accepted for contract parity)."},"is_translate_images":{"type":"boolean"},"bilingual_text_style__font":{"$ref":"#/components/schemas/BilingualFont"},"bilingual_text_style__color":{"type":"string","example":"#333333"},"domain_translate_document":{"$ref":"#/components/schemas/DomainV3"},"domain_translate_video":{"$ref":"#/components/schemas/VideoDomainV3"},"domain_translate_image":{"$ref":"#/components/schemas/ImageDomainV3","description":"Validated but never actually dispatched to the image pipeline today."},"domain_translate_audio":{"$ref":"#/components/schemas/AudioDomainV3"},"domain_create_video":{"$ref":"#/components/schemas/Pptx2VideoDomainV2V3","description":"Validated but never actually forwarded today."},"orientation":{"$ref":"#/components/schemas/ProcessOrientation"},"output_format":{"$ref":"#/components/schemas/OutputFormat"},"is_image":{"description":"Accepted, no dispatch correlate today."},"access_domain":{"description":"Accepted, no dispatch correlate today."},"bilingual_text_style__font_style":{"type":"array","items":{"$ref":"#/components/schemas/BilingualFontStyle"}}},"required":["task_type","dest_lang","meta_files"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/result/{task_id}":{"get":{"summary":"Get task result","description":"Poll the status/result of any task_id this API returned (translate/process/summarization/create video/…). v3 (current, richest enum tables). See ResultAny for which shape you get back.","tags":["Result"],"operationId":"getResultV3","responses":{"200":{"description":"Current status (processing) or final result (done/failed) — shape depends on task type, see ResultAny.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ResultAny"}},"required":["data"]}]}}}},"400":{"description":"Unknown/invalid task_id (or it does not belong to this API key).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}},{"name":"task_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v3/summarization":{"post":{"summary":"Presentation Maker","description":"Generate a PowerPoint deck from a document (Presentation Maker / doc2slide). PAID — priced by page count via its own credit gate (not the generic trial gate). v3 (current, richest enum tables).","tags":["Process"],"operationId":"summarizationV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"file_type":{"$ref":"#/components/schemas/SummarizationFileType"},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"slides_number":{"type":"string","description":"NOT enum-validated on this endpoint (unlike /process's slides_number)."}},"required":["file","file_type","dest_lang"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/translate/audio":{"post":{"summary":"Translate audio/video","description":"Translate an uploaded audio/video/subtitle file. PAID. v3 (current, richest enum tables). By default produces a translated transcript only (SRT-equivalent, via process_mode). Set export_audio and/or export_video (added in this build) for a dubbed audio track / dubbed video — pick a voice.","tags":["Translate"],"operationId":"translateAudioV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"}},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"source_lang":{"$ref":"#/components/schemas/AudioSourceLangV3"},"domain":{"$ref":"#/components/schemas/AudioDomainV3"},"process_mode":{"$ref":"#/components/schemas/ProcessMode"},"custom_prompt":{"type":"string"},"dictionary":{"type":"string","description":"JSON-encoded {term: translation} object. Added in this build — previously unread on this endpoint."},"voice":{"$ref":"#/components/schemas/MinimaxVoice","description":"Dub voice. Only meaningful with export_audio/export_video. Added in this build."},"export_audio":{"type":"boolean","description":"Produce a dubbed audio track. Added in this build."},"export_video":{"type":"boolean","description":"Produce a dubbed video. Added in this build."},"audio_format":{"type":"string","enum":["mp3","wav"],"description":"Added in this build."}},"required":["files","dest_lang"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/translate/document":{"post":{"summary":"Translate document","description":"Deep/specialized translation of a pdf/docx/pptx/xlsx — glossary (dictionary), domain, tone/style, and bilingual output. PAID. v3 (current, richest enum tables). Multiple files under the `file` field are all accepted and billed (upstream's documented contract is 1 file).","tags":["Translate"],"operationId":"translateDocumentV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"file_type":{"$ref":"#/components/schemas/FileTypeV3"},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"original_lang":{"$ref":"#/components/schemas/OptionalLangV3"},"process_mode":{"$ref":"#/components/schemas/ProcessMode"},"translate_type":{"$ref":"#/components/schemas/TranslateTypeDocument"},"tone":{"$ref":"#/components/schemas/ToneV2V3"},"domain":{"$ref":"#/components/schemas/DomainV3"},"dictionary":{"type":"string","description":"JSON-encoded Dictionary array (see Dictionary schema) — a string on this multipart route."},"custom_prompt":{"type":"string"},"is_translate_images":{"type":"boolean","description":"Also translate images embedded in the document, in place."},"output_format":{"$ref":"#/components/schemas/OutputFormat"},"style_mode":{"type":"integer","description":"Accepted for contract parity; not forwarded to the worker (no document-side correlate exists)."},"bilingual_text_style__font":{"$ref":"#/components/schemas/BilingualFont"},"bilingual_text_style__color":{"type":"string","example":"#333333"}},"required":["file","file_type","dest_lang"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/translate/images":{"post":{"summary":"Translate image / scanned PDF (OCR)","description":"Translate text inside an image, or a scanned PDF, via OCR. PAID. v3 (current, richest enum tables). Also reachable at /translate/image (singular) — identical.","tags":["Translate"],"operationId":"translateImagesV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"}},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"original_lang":{"$ref":"#/components/schemas/OptionalLangV3"},"domain":{"$ref":"#/components/schemas/ImageDomainV3"},"style_mode":{"type":"integer","description":"Accepted for contract parity; not forwarded (no image-worker correlate yet)."},"process_mode":{"$ref":"#/components/schemas/ProcessMode","description":"Only \"replace\" is actually supported — append/append_reverse (bilingual) are REJECTED with a 422 value_error (the image pipeline has no bilingual mode)."},"font":{"$ref":"#/components/schemas/BilingualFont"},"font_size":{"type":"integer"},"color":{"type":"string","example":"#333333"},"dictionary":{"type":"string","description":"JSON-encoded Dictionary array."},"custom_prompt":{"type":"string"}},"required":["files","dest_lang"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/translate/text":{"post":{"summary":"Translate text","description":"Translate a plain text string. FREE (charges 0 credits on every version). v3 (current, richest enum tables).","tags":["Translate"],"operationId":"translateTextV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","description":"The text to translate."},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"original_lang":{"$ref":"#/components/schemas/OptionalLangV3"},"translate_type":{"$ref":"#/components/schemas/TranslateTypeText"},"tone":{"$ref":"#/components/schemas/ToneV2V3"},"domain":{"$ref":"#/components/schemas/DomainV3"},"dictionary":{"$ref":"#/components/schemas/Dictionary"},"custom_prompt":{"type":"string"},"process_mode":{"$ref":"#/components/schemas/ProcessMode"},"style_mode":{"type":"integer"},"bilingual_text_style__font":{"$ref":"#/components/schemas/BilingualFont"},"bilingual_text_style__font_size":{"type":"integer"},"bilingual_text_style__color":{"type":"string","example":"#333333"}},"required":["text","dest_lang"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/update/transcripts":{"post":{"summary":"Edit a generated transcript","description":"Overwrite one transcript segment's text before rendering the video. v3 (current, richest enum tables). Always 200 — a bogus task_id or out-of-range transcript_number is silently a no-op (matches upstream), not an error.","tags":["Presentation Video"],"operationId":"updateTranscriptsV3","responses":{"200":{"description":"Always this exact body — see schema description.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTranscriptsResult"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"task_id":{"type":"string"},"transcript_number":{"type":"integer"},"transcript_content":{"type":"string"}},"required":["task_id","transcript_number","transcript_content"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v3/upload":{"post":{"summary":"Price check (calculate_price)","description":"Estimate the credit cost of one or more files (or a YouTube link, video only) WITHOUT dispatching a translation — returns a task_id per file to reference from POST /process's meta_files. v3 (current, richest enum tables). Does not return text_credit/image_credit/is_pdf_scan (v1/v2 only).","tags":["Price check"],"operationId":"uploadPriceCheckV3","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UploadPriceList"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"task_type":{"$ref":"#/components/schemas/TaskType","description":"Only document/images/audio/video are actually priceable here — text/summarization/create_video 400."},"files":{"type":"array","items":{"type":"string","format":"binary"}},"youtube_link":{"type":"string","description":"Only valid with task_type=video, in place of files."}},"required":["task_type"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v4/result/{task_id}":{"get":{"summary":"Get video task result","description":"Same result poller as /v3/result/:task_id, with `type` forced toward \"video\" for the audio/video task family (disambiguated from a same-pipeline audio job by the source file's extension) — a document/image/text/slides task_id is never relabeled.","tags":["Result"],"operationId":"getResultV4","responses":{"200":{"description":"Current status or final result.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ResultAny"}},"required":["data"]}]}}}},"400":{"description":"Unknown/invalid task_id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}},{"name":"task_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v4/translate/video":{"post":{"summary":"Translate video (end-to-end)","description":"Translate a video already uploaded via /v4/upload/presign. Subtitle-only by default (SRT, ~2 credits/min); set export_audio and/or export_video to true for a dubbed audio track / dubbed video — this is the end-to-end video translation capability. PAID. Dub params (domain/tone/dictionary/custom_prompt/export_audio/export_video/voice/audio_format) were added in this build — this endpoint used to be subtitle-only with no way to request dubbing.","tags":["Video (v4)"],"operationId":"translateVideoV4","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/ValidationError"},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"file_key":{"type":"string","description":"The key returned by /v4/upload/presign."},"file_name":{"type":"string"},"source_lang":{"$ref":"#/components/schemas/OptionalLangV3"},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"process_mode":{"$ref":"#/components/schemas/ProcessMode"},"domain":{"$ref":"#/components/schemas/AudioDomainV3"},"tone":{"type":"string","description":"Free text — not enum-validated on this endpoint."},"dictionary":{"$ref":"#/components/schemas/Dictionary"},"custom_prompt":{"type":"string"},"export_audio":{"type":"boolean"},"export_video":{"type":"boolean"},"voice":{"$ref":"#/components/schemas/MinimaxVoice"},"audio_format":{"type":"string","enum":["mp3","wav"]}},"required":["file_key","dest_lang"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v4/upload/presign":{"post":{"summary":"Get a presigned upload URL","description":"Presigned R2 PUT so a client can upload a video directly, then submit its key to /v4/translate/video. No credit gate — this route only signs a URL, it dispatches nothing.","tags":["Video (v4)"],"operationId":"presignUploadV4","responses":{"200":{"description":"Presigned PUT issued.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PresignResult"}},"required":["data"]}]}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"415":{"description":"Bad extension, invalid/oversize file size.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"422":{"$ref":"#/components/responses/ValidationError"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"filename":{"type":"string"},"filetype":{"type":"string","example":"video/mp4"},"size":{"type":"integer","description":"Bytes — used for an upfront size-limit check (300MB general cap, 1GB for video extensions)."}},"required":["filename"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}},"/v4/xml-document":{"post":{"summary":"Translate an XML/HTML document","description":"Translate an XML or HTML document — multipart `file`, or JSON with a `file_key` from a prior upload. process_mode/is_translate_images/output_format are fixed (replace/false/auto) and not accepted as fields.","tags":["Translate"],"operationId":"xmlDocumentV4","responses":{"200":{"description":"Queued (or, for GET /result, the current status/result).","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/EnvelopeSuccessBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TaskIdOnly"}},"required":["data"]}]}}}},"400":{"description":"A well-formed but rejected request, or a generic dispatch error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"description":"Missing/bad fields, or more than 1 file sent (this endpoint accepts exactly 1).","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"array","items":{"$ref":"#/components/schemas/DetailError"}}}}}}},"402":{"description":"Not enough credits (and not trial-eligible).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeFailed"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"file_key":{"type":"string","description":"Alternative to `file` — a key from a prior upload."},"file_name":{"type":"string","description":"Only used with file_key."},"file_type":{"$ref":"#/components/schemas/XmlHtmlFileType"},"dest_lang":{"$ref":"#/components/schemas/LangV3"},"original_lang":{"$ref":"#/components/schemas/LangV3","description":"No trailing null member advertised here (unlike other endpoints' original_lang) — send \"None\" or omit for auto-detect."},"translate_type":{"$ref":"#/components/schemas/TranslateTypeDocument"},"tone":{"$ref":"#/components/schemas/ToneV2V3"},"domain":{"$ref":"#/components/schemas/DomainV3"},"dictionary":{"type":"string","description":"JSON-encoded Dictionary array."},"custom_prompt":{"type":"string"}},"required":["file_type","dest_lang"]}}}},"parameters":[{"name":"X-API-Key","in":"header","required":true,"description":"Your DocTranslate API key (dtl_...). Ask the end user for it; never hardcode a key.","schema":{"type":"string"}}]}}},"components":{"schemas":{"Pptx2VideoDomainV2V3":{"type":"string","enum":["Default","Inspirational","Education","Advertisement","Entertainment"]},"XmlHtmlFileType":{"type":"string","description":"file_type on v4 /xml-document.","enum":["application/xml","application/html"]},"ResultProcessChildInFlight":{"type":"object","properties":{"token_id":{"type":"string"},"progress":{"type":"boolean","enum":[true]},"percent":{"type":"integer"},"text":{"type":["string","null"]},"user_id":{"type":"integer"},"is_publish_api":{"type":"boolean","enum":[true]},"task_id":{"type":"string"},"status":{"type":"string","enum":["PROCESSING"]},"type":{"type":"string","enum":["progress"]}}},"OptionalLangV3":{"type":["string","null"],"description":"Optional original_lang/source_lang on v3 — omit or null for auto-detect.","enum":["en","vi","ja","zh-cn","zh-tw","ko","es","pt","ru","fr","de","it","hi","th","tr","el","ar","nl","pl","uk","sv","da","no","fi","hu","in","ms-MY","fil","bn","lo","cs-CZ","la","ro","sl","hr","bg","fa","lt","et","lv","sk","sr","sw","km",null]},"LangV3":{"type":"string","description":"Required dest_lang on v3/v4 endpoints (44 codes = v2 + 13 more).","enum":["en","vi","ja","zh-cn","zh-tw","ko","es","pt","ru","fr","de","it","hi","th","tr","el","ar","nl","pl","uk","sv","da","no","fi","hu","in","ms-MY","fil","bn","lo","cs-CZ","la","ro","sl","hr","bg","fa","lt","et","lv","sk","sr","sw","km"]},"TaskIdOnly":{"type":"object","properties":{"task_id":{"type":"string"}},"required":["task_id"]},"UploadPriceList":{"type":"array","items":{"$ref":"#/components/schemas/UploadPriceEntry"}},"TranslateTypeDocument":{"type":"string","enum":["Paraphrase","Professional"]},"TranslateTypeText":{"type":"string","description":"translate_type on /translate/text — identical on every version.","enum":["Paraphrase","Professional","Accurate"]},"BilingualFontStyle":{"type":"string","enum":["bold","italic","underline"]},"ProcessMode":{"type":"string","enum":["append","replace","append_reverse"]},"ResultSlides":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"export_type":{"type":"string","enum":["pptx"]},"name_file":{"type":"string"},"out_of_credits":{"type":"boolean"},"url_download":{"type":"string"},"type":{"type":"string","enum":["summarization"],"description":"Always the literal string \"summarization\"."},"status":{"type":"null"}},"required":["data","export_type","name_file","out_of_credits","url_download","type","status"]},"OutputFormat":{"type":"string","enum":["auto","docx","pptx"]},"DetailError":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"}},"msg":{"type":"string"},"type":{"type":"string"},"ctx":{"type":"object","properties":{"enum_values":{"type":"array","items":{"type":["string","null"]}}}}},"required":["loc","msg","type"]},"ToneV2V3":{"type":"string","description":"tone on v2 and v3 endpoints (identical list).","enum":["Default","Serious","Friendly","Humorous","Formal","Romantic"]},"ResultAny":{"oneOf":[{"$ref":"#/components/schemas/ResultText"},{"$ref":"#/components/schemas/ResultImage"},{"$ref":"#/components/schemas/ResultSlides"},{"$ref":"#/components/schemas/ResultDocumentAudioVideoSlide2Video"},{"$ref":"#/components/schemas/ResultProcessNested"}]},"BilingualFont":{"type":["string","null"],"enum":[null,"Helvetica","Meiryo","Times News Roman","Arial","Calibri","Robeto","Georgia","Garamond","Futura","Open Sans"]},"DomainV3":{"type":"string","description":"domain on v3 text/document endpoints (37 values = v2 + Fast Translation, Games).","enum":["Default","Banking","Accounting","Management","Law","Logistics","Marketing","Securities - Investment","Insurance","Real Estate","Music","Painting","Theater - Cinema","Poetry","Epic","Children's Stories","Historical Stories","Fiction","Short Stories","Physics","Chemistry","Informatics","Electronics","Medicine","Mechanics","Meteorology - Hydrology","Agriculture","Legal Documents","Internal Documents","Email","Health","Sports","Culture - Tourism","Press","Animals","Fast Translation","Games"]},"ResultProcessChildSettled":{"type":"object","properties":{"task_id":{"type":"string"},"name_file":{"type":["string","null"]},"url_download":{"type":["string","null"]},"type":{"type":"string"},"status":{"type":"string","enum":["done","failed","processing"]},"file_name":{"type":["string","null"]},"filename":{"type":["string","null"]},"cost":{"type":"number"},"dest_lang":{"type":["string","null"]},"translation_type":{"type":"string"},"datetime":{"type":["string","null"]},"transcript_urls":{"type":["string","null"]},"translated_transcribe_urls":{"type":["string","null"]}}},"CreateVideoResultItem":{"type":"object","properties":{"task_id":{"type":"string"},"message":{"type":"string","enum":["Create video successfully!"]}}},"Dictionary":{"type":"array","items":{"$ref":"#/components/schemas/DictionaryEntry"}},"ResultText":{"type":"object","properties":{"text":{"type":["string","null"]},"text_copy":{"type":["string","null"]},"url_download":{"type":["string","null"]},"filename":{"type":"string"},"type":{"type":"string","enum":["text"]},"task_id":{"type":"string"},"file_name":{"type":"string"},"file_type":{"type":"string","enum":["txt"]},"translation_type":{"type":"string","enum":["Text"]},"datetime":{"type":["string","null"]},"cost":{"type":"number","description":"Always 0 — plain text translation is free."},"dest_lang":{"type":["string","null"]},"status":{"type":"null","description":"Always null on this shape — legacy parity, not a mistake."}},"required":["text","text_copy","url_download","filename","type","task_id","file_name","file_type","translation_type","datetime","cost","dest_lang","status"]},"SummarizationFileType":{"type":"string","description":"file_type on /summarization (same on every version).","enum":["application/docx","application/pdf"]},"SlidesNumber":{"type":"string","description":"slides_number on /process — STRING values, not integers.","enum":["10","15","20"]},"UploadPriceEntry":{"type":"object","properties":{"filename":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"status":{"type":"boolean","enum":[true]},"credits":{"type":"number"},"task_id":{"type":"string"},"size":{"type":["string","null"]},"text_credit":{"type":"number","description":"v1/v2 ONLY — v3 never includes this field."},"image_credit":{"type":"number","description":"v1/v2 ONLY — v3 never includes this field."},"is_pdf_scan":{"type":"boolean","description":"v1/v2 ONLY — v3 never includes this field."}},"required":["filename","status","credits","task_id","size"]},"ResultDocumentAudioVideoSlide2Video":{"type":"object","properties":{"task_id":{"type":"string"},"name_file":{"type":["string","null"]},"url_download":{"type":["string","null"],"description":"Presigned, 7-day-expiry URL."},"type":{"type":"string","enum":["document","audio","video","slide2video"]},"status":{"type":"string","enum":["done","processing","failed"]},"transcript_urls":{"type":["string","null"],"description":"Only present when type=audio/video: presigned URL to the original-language SRT."},"translated_transcribe_urls":{"type":["string","null"],"description":"Only present when type=audio/video: presigned URL to the translated SRT."}},"required":["task_id","name_file","url_download","type","status"]},"PresignResult":{"type":"object","properties":{"key":{"type":"string"},"url":{"type":"string","description":"Presigned S3/R2 PUT URL, valid 1 hour."},"method":{"type":"string","enum":["PUT"]},"headers":{"type":"object","properties":{"Content-Type":{"type":"string"}}}},"required":["key","url","method","headers"]},"TaskType":{"type":"string","description":"task_type on /process and /create/transcripts — identical on every version.","enum":["document","text","images","audio","video","summarization","create_video"]},"HumanVoice":{"type":"string","enum":["james","john","william","michael","david","emily"]},"MetaFile":{"type":"object","description":"References a file already priced via POST /upload (or a cached YouTube link).","properties":{"task_id":{"type":"string","description":"The task_id from a prior POST /upload price-check response."},"filename":{"type":"string"}},"required":["task_id","filename"]},"AudioDomainV3":{"type":"string","description":"domain on v3 /translate/audio (7 values = v2 + Story).","enum":["Default","Conversation","Lecture/Presentation","Interview","Meeting","Entertainment","Story"]},"ResultProcessNested":{"type":"object","properties":{"status":{"type":"null"},"percent":{"type":"integer"},"url_download":{"type":["string","null"]},"name_file":{"type":["string","null"]}},"additionalProperties":{"oneOf":[{"$ref":"#/components/schemas/ResultProcessChildSettled"},{"$ref":"#/components/schemas/ResultProcessChildInFlight"}]}},"EnvelopeSuccessBase":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}},"error_description":{"type":"string"},"start_time":{"type":"string","description":"Vietnam time (UTC+7), \"YYYY-MM-DD HH:mm:ss.ffffff\" — NOT ISO 8601."},"end_time":{"type":"string"},"status":{"type":"string","enum":["success"]}},"required":["errors","error_description","start_time","end_time","status"]},"FileTypeV3":{"type":"string","description":"file_type on v3 /translate/document (adds xml, html).","enum":["application/docx","application/pptx","application/xlsx","application/pdf","application/xml","application/html"]},"TaskIdMessage":{"type":"object","properties":{"task_id":{"type":"string"},"message":{"type":"string"}},"required":["task_id","message"]},"TemplatePathV3":{"type":"string","description":"template_path on v3 /process.","enum":["system/v2/template_1","system/v2/template_2"]},"EnvelopeFailed":{"type":"object","properties":{"data":{"type":"null"},"errors":{"type":"array","items":{"type":"string"}},"error_description":{"type":"string","description":"Always empty string in practice — never duplicates errors[0]."},"start_time":{"type":"string"},"end_time":{"type":"string"},"status":{"type":"string","enum":["failed"]}},"required":["data","errors","error_description","start_time","end_time","status"]},"PdfToolId":{"type":"string","enum":["merge","split","remove_pages","extract_pages","rotate","page_numbers","watermark","crop","organize","redact","sign","compare","jpg_to_pdf","scan_to_pdf","pdf_to_jpg","word_to_pdf","powerpoint_to_pdf","excel_to_pdf","pdf_to_markdown","ai_summarizer","protect","unlock","repair","compress_image","resize_image","rotate_image","crop_image","convert_image","watermark_image"]},"CreateVideoResult":{"oneOf":[{"$ref":"#/components/schemas/CreateVideoResultItem"},{"type":"array","items":{"$ref":"#/components/schemas/CreateVideoResultItem"}}],"description":"A single object when task_ids had exactly 1 entry; an array when it had 2+."},"DictionaryEntry":{"type":"object","description":"One glossary override, applied when des_lang matches the request's dest_lang.","properties":{"ori_word":{"type":"string"},"des_word":{"type":"string"},"des_lang":{"type":"string"}},"required":["ori_word","des_word","des_lang"]},"AudioSourceLangV3":{"type":["string","null"],"enum":["en","vi","ja","zh-cn","zh-tw","ko","es","pt","ru","fr","de","it","hi","th","tr","el","ar","nl","pl","uk","sv","da","no","fi","hu","in","ms-MY","fil","bn","lo","cs-CZ",null]},"UpdateTranscriptsResult":{"type":"object","properties":{"status":{"type":"boolean","enum":[true]},"message":{"type":"string","enum":["Transcripts updated successfully"]}}},"ImageDomainV3":{"type":"string","description":"domain on v3 /translate/images (6 values = v2 + Comic).","enum":["Default","Posters","Books","Documents","Invoices","Comic"]},"MinimaxVoice":{"type":"string","enum":["Olivia","Sophia","Lily","Grace","Ethan","Mason","Henry","Lucas"]},"ProcessOrientation":{"type":"string","enum":["summary","analysis","lesson","story","presentation"]},"ResultImage":{"type":"object","properties":{"percent":{"type":"integer"},"text":{"type":["string","null"]},"task_id":{"type":"string"},"status":{"type":"string","enum":["processing","completed","failed"]},"type":{"type":"string","enum":["progress"],"description":"Always the literal string \"progress\" — even when done."},"cost":{"type":"number"},"dest_lang":{"type":["string","null"]},"file_name":{"type":["string","null"]},"filename":{"type":["string","null"]},"translation_type":{"type":"string","enum":["Image"]},"datetime":{"type":["string","null"]},"url_download":{"type":["string","null"]}},"required":["percent","task_id","status","type"]},"VideoDomainV3":{"type":"string","enum":["Default","Music","Games","Movies","Advertising","News","Education","Sports","Conferences"]}},"responses":{"ValidationError":{"description":"Bare FastAPI/Pydantic validation-error shape — NOT wrapped in the envelope above. FastAPI validates every field at once, so `detail` can carry several entries in one response.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"array","items":{"$ref":"#/components/schemas/DetailError"}}}},"example":{"detail":[{"loc":["body","text"],"msg":"field required","type":"value_error.missing"},{"loc":["body","dest_lang"],"msg":"field required","type":"value_error.missing"}]}}}},"Unauthorized":{"description":"Missing/invalid X-API-Key or Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid authentication credentials. Provide a valid Bearer Token or X-API-Key."}}}}}}}